@import 'sidebar.css';
@import 'user_profile.css';
@import 'show_product.css';
@import 'products_index.css';

.login-admin {
    width: 50%;
    position: absolute;
    left: 25%;
    top: 20%;
}

.login-admin form h1 {
    text-align: center;
}

.admin-layout .row .col-2 {
    padding: 0;
}

.admin-layout .row .col-10 {
    padding: 0 20px 0 0;
}

/* .row {
    height: 100vh;
} */

.container-content {
    padding: 10px;
}

.update-row {
    padding-left: 35%;
}

.admin-profile-box {
    position: absolute;
    right: 0;
}
